branches/mpd-r4b-forms/StructureDefinition-PPLManufacturedItemDefinition.sch

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
  <sch:ns prefix="f" uri="http://hl7.org/fhir"/>
  <sch:ns prefix="h" uri="http://www.w3.org/1999/xhtml"/>
  <!-- 
    This file contains just the constraints for the profile ManufacturedItemDefinition
    It includes the base constraints for the resource as well.
    Because of the way that schematrons and containment work, 
    you may need to use this schematron fragment to build a, 
    single schematron that validates contained resources (if you have any) 
  -->
  <sch:pattern>
    <sch:title>f:ManufacturedItemDefinition</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition">
      <sch:assert test="count(f:unitOfPresentation) &gt;= 1">unitOfPresentation: minimum cardinality of 'unitOfPresentation' is 1</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.meta</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:meta">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.implicitRules</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:implicitRules">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.language</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:language">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.text</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:text">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.contained</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:contained">
      <sch:assert test="not(f:Citation|f:Evidence|f:EvidenceReport|f:EvidenceVariable|f:MedicinalProductDefinition|f:PackagedProductDefinition|f:AdministrableProductDefinition|f:Ingredient|f:ClinicalUseDefinition|f:RegulatedAuthorization|f:SubstanceDefinition|f:SubscriptionStatus|f:SubscriptionTopic) or not(parent::f:Citation|parent::f:Evidence|parent::f:EvidenceReport|parent::f:EvidenceVariable|parent::f:MedicinalProductDefinition|parent::f:PackagedProductDefinition|parent::f:AdministrableProductDefinition|parent::f:Ingredient|parent::f:ClinicalUseDefinition|parent::f:RegulatedAuthorization|parent::f:SubstanceDefinition|f:SubscriptionStatus|f:SubscriptionTopic)">Containing new R4B resources within R4 resources may cause interoperability issues if instances are shared with R4 systems (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.extension</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:extension">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
      <sch:assert test="exists(f:extension)!=exists(f:*[starts-with(local-name(.), &quot;value&quot;)])">Must have either extensions or value[x], not both (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.modifierExtension</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:modifierExtension">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
      <sch:assert test="exists(f:extension)!=exists(f:*[starts-with(local-name(.), &quot;value&quot;)])">Must have either extensions or value[x], not both (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.identifier</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:identifier">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.status</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:status">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>f:ManufacturedItemDefinition/f:manufacturedDoseForm</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:manufacturedDoseForm">
      <sch:assert test="count(f:id) &lt;= 1">id: maximum cardinality of 'id' is 1</sch:assert>
      <sch:assert test="count(f:text) &lt;= 1">text: maximum cardinality of 'text' is 1</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.manufacturedDoseForm</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:manufacturedDoseForm">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.manufacturedDoseForm.extension</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:manufacturedDoseForm/f:extension">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children</sch:assert>
      <sch:assert test="exists(f:extension)!=exists(f:*[starts-with(local-name(.), &quot;value&quot;)])">Must have either extensions or value[x], not both</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>f:ManufacturedItemDefinition/f:manufacturedDoseForm/f:coding</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:manufacturedDoseForm/f:coding">
      <sch:assert test="count(f:id) &lt;= 1">id: maximum cardinality of 'id' is 1</sch:assert>
      <sch:assert test="count(f:system) &lt;= 1">system: maximum cardinality of 'system' is 1</sch:assert>
      <sch:assert test="count(f:version) &lt;= 1">version: maximum cardinality of 'version' is 1</sch:assert>
      <sch:assert test="count(f:code) &lt;= 1">code: maximum cardinality of 'code' is 1</sch:assert>
      <sch:assert test="count(f:display) &lt;= 1">display: maximum cardinality of 'display' is 1</sch:assert>
      <sch:assert test="count(f:userSelected) &lt;= 1">userSelected: maximum cardinality of 'userSelected' is 1</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.manufacturedDoseForm.coding</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:manufacturedDoseForm/f:coding">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.manufacturedDoseForm.coding.extension</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:manufacturedDoseForm/f:coding/f:extension">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children</sch:assert>
      <sch:assert test="exists(f:extension)!=exists(f:*[starts-with(local-name(.), &quot;value&quot;)])">Must have either extensions or value[x], not both</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.manufacturedDoseForm.coding.system</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:manufacturedDoseForm/f:coding/f:system">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.manufacturedDoseForm.coding.version</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:manufacturedDoseForm/f:coding/f:version">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.manufacturedDoseForm.coding.code</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:manufacturedDoseForm/f:coding/f:code">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.manufacturedDoseForm.coding.display</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:manufacturedDoseForm/f:coding/f:display">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.manufacturedDoseForm.coding.userSelected</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:manufacturedDoseForm/f:coding/f:userSelected">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.manufacturedDoseForm.text</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:manufacturedDoseForm/f:text">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>f:ManufacturedItemDefinition/f:unitOfPresentation</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:unitOfPresentation">
      <sch:assert test="count(f:id) &lt;= 1">id: maximum cardinality of 'id' is 1</sch:assert>
      <sch:assert test="count(f:text) &lt;= 1">text: maximum cardinality of 'text' is 1</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.unitOfPresentation</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:unitOfPresentation">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.unitOfPresentation.extension</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:unitOfPresentation/f:extension">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children</sch:assert>
      <sch:assert test="exists(f:extension)!=exists(f:*[starts-with(local-name(.), &quot;value&quot;)])">Must have either extensions or value[x], not both</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>f:ManufacturedItemDefinition/f:unitOfPresentation/f:coding</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:unitOfPresentation/f:coding">
      <sch:assert test="count(f:id) &lt;= 1">id: maximum cardinality of 'id' is 1</sch:assert>
      <sch:assert test="count(f:system) &lt;= 1">system: maximum cardinality of 'system' is 1</sch:assert>
      <sch:assert test="count(f:version) &lt;= 1">version: maximum cardinality of 'version' is 1</sch:assert>
      <sch:assert test="count(f:code) &lt;= 1">code: maximum cardinality of 'code' is 1</sch:assert>
      <sch:assert test="count(f:display) &lt;= 1">display: maximum cardinality of 'display' is 1</sch:assert>
      <sch:assert test="count(f:userSelected) &lt;= 1">userSelected: maximum cardinality of 'userSelected' is 1</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.unitOfPresentation.coding</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:unitOfPresentation/f:coding">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.unitOfPresentation.coding.extension</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:unitOfPresentation/f:coding/f:extension">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children</sch:assert>
      <sch:assert test="exists(f:extension)!=exists(f:*[starts-with(local-name(.), &quot;value&quot;)])">Must have either extensions or value[x], not both</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.unitOfPresentation.coding.system</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:unitOfPresentation/f:coding/f:system">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.unitOfPresentation.coding.version</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:unitOfPresentation/f:coding/f:version">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.unitOfPresentation.coding.code</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:unitOfPresentation/f:coding/f:code">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.unitOfPresentation.coding.display</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:unitOfPresentation/f:coding/f:display">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.unitOfPresentation.coding.userSelected</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:unitOfPresentation/f:coding/f:userSelected">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.unitOfPresentation.text</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:unitOfPresentation/f:text">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.manufacturer</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:manufacturer">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.ingredient</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:ingredient">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.property</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:property">
      <sch:assert test="@value|f:*|h:div|self::f:Parameters">All FHIR elements must have a @value or children unless an empty Parameters resource (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.property.extension</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:property/f:extension">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
      <sch:assert test="exists(f:extension)!=exists(f:*[starts-with(local-name(.), &quot;value&quot;)])">Must have either extensions or value[x], not both (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.property.modifierExtension</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:property/f:modifierExtension">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
      <sch:assert test="exists(f:extension)!=exists(f:*[starts-with(local-name(.), &quot;value&quot;)])">Must have either extensions or value[x], not both (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.property.type</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:property/f:type">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:title>ManufacturedItemDefinition.property.value[x] 1</sch:title>
    <sch:rule context="f:ManufacturedItemDefinition/f:property/f:value[x]">
      <sch:assert test="@value|f:*|h:div">All FHIR elements must have a @value or children (inherited)</sch:assert>
    </sch:rule>
  </sch:pattern>
</sch:schema>
